.habit {
  max-width: 50rem;
  border: 1px solid #000;
}

.habit,
.addBtn {
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.addBtn > div {
  padding: 0.2rem;
  border-radius: 100%;
  background-color: var(--add-btn-border);
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.addBtn > div > img {
  padding: 1.5rem;
  background-color: var(--add-btn-bg);
  border-radius: 100%;
}

.body {
  max-width: 62.5rem;
  margin: 0 auto;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}
