// Colors
// Light Theme
$bg-light-main: #f4f4f4;
$bg-light-secondary: #f1f2eb;
$font-light: #000;
$nav-light-bg: linear-gradient(90deg, #c1666b 0%, #c1666b 100%);
$add-btn-light: #35ff69;
$add-btn-light-border: #33ff6680;
$input-light-hr: #00000080;
$shadow-light: rgba(0, 0, 0, 0.25);
// Dark Theme
$bg-dark-main: #011627;
$bg-dark-secondary: #181b23;
$font-dark: #fff;
$nav-dark-bg: linear-gradient(90deg, #003049 0%, #233d4d 100%);
$add-btn-dark: #386641;
$add-btn-dark-border: #38664180;
$input-dark-hr: #ffffff80;
$shadow-dark: rgba(255, 255, 255, 0.25);
// CSS Variables
:root {
  --bg-color: #{$bg-light-main};
  --bg-accent-color: #{$bg-light-secondary};
  --font-color: #{$font-light};
  --nav-bg: #{$nav-light-bg};
  --add-btn-bg: #{$add-btn-light};
  --add-btn-border: #{$add-btn-light-border};
  --input-hr: #{$input-light-hr};
  --shadow-color: #{$shadow-light};
  --border-drop: #{$bg-light-main};
}

.dark {
  --bg-color: #{$bg-dark-main};
  --bg-accent-color: #{$bg-dark-secondary};
  --font-color: #{$font-dark};
  --nav-bg: #{$nav-dark-bg};
  --add-btn-bg: #{$add-btn-dark};
  --add-btn-border: #{$add-btn-dark-border};
  --input-hr: #{$input-dark-hr};
  --shadow-color: #{$shadow-dark};
  --border-drop: #000;
}
