.nav-bar .burger-menu,
#sidebar {
  display: none;
}

@media (max-width: 800px) {
  .nav-bar {
    nav .burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 1.4rem;
      cursor: pointer;
      padding: 0.5rem;
      box-sizing: content-box;
    }

    .nav-elements {
      display: none;
    }

    .burger-menu div {
      width: 2rem;
      height: 2px;
      background-color: #fff;
    }
  }

  #sidebar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 5rem;
    left: 0;
    height: calc(100vh - 5rem);
    width: 100vw;
    background-color: #82828200;
    flex-direction: column;
    align-items: flex-end;
    transition: ease 0.7s;
    pointer-events: none;
    z-index: 10;

    ul {
      flex-grow: 1;
      background-color: var(--bg-color);
      width: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 1.75rem;
      color: var(--sidebar-font);
      transform: translateX(100%);
      transition: ease 0.5s;
      font-weight: bold;
      pointer-events: none;
      cursor: auto;
    }
  }

  #sidebar.active {
    background-color: #82828280;
    pointer-events: all;
    cursor: pointer;
    ul {
      transform: translateX(0%);
      pointer-events: all;
    }
  }

  #sidebar ul > li {
    cursor: pointer;
  }
}
